<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@500&display=swap" rel="stylesheet">
    <a href="/">Home</a>
</head>
<body>

    <p>
        Born in 1995 in the city of Mississauga, Ontario, Luke Nguyen is the oldest son of two Vietnamese immigrants. After graduating York Univeristy with 
    a Bachelor's Degree in Kinesiology, he took a job at The Hospital for Sick Children working with the IT department, and really enjoyed the 
    work he did there. He has since found himself studying Health Informatics Technology at Centennial College in the hopes of working in the 
    health care technology field one day.
    </p>
</body>
</html>