<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<img src="img/logoclear.jpg" class="logoclear" alt="logo">
<h1>Hey there!</h1>
<h4>Welcome to my personal portfolio. Click on the navigation bar to learn more about me.</h4>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<body>     
    <p> 
      <h3>Mission Statement:</h3>
      <i>"To be a leader by encouraging innovative ideas and promoting forward thinking so new technology solutions can improve the lives of others."</i>
    </p> 
</body>
</html>