<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects: My Firsts</title>
</head>
<body>
    <h1>Projects: My Firsts</h1>
    <div class="grid-container">
        <div class="grid-item"><img src="img/project202.jpg" class="picsize"></div>
        <div class="grid-item">
            <p>
                This was the first major database project developed using SQL. Users are able to find artists from a variety of search queries, which include genre, record label, name of producer, and more. A entity-relationship diagram was created prior to the development of the project.
            </p>
        </div>
        <div class="grid-item">            
            <p>
                This was the first webpage I had ever developed using Microsoft Expression. It allowed to me to express my personality through a webpage - something that I had never quite done before. Seeing how my work came to fruition through programming language gave me a greater appreciation for those who professionally design websites.
            </p>
        </div>  
        <div class="grid-item"><img src="img/project301.jpg" class="picsize"></div>
        <div class="grid-item"><img src="img/project101.jpg" class="picsize"></div>
        <div class="grid-item">
            <p>
                This was the first major project in which I had to create a GUI that simulates an inventory management system using C#. The GUI allows user to add, remove, and search items from a catalogue. The user can search the catalogue by department, item name, and price. 
            </p>
        </div>   
      </div>
</body>
</html>