/* ExpressPortfolio229_Luke Nguyen_300744804_10092020  */

/* General styling for most pages  */
body {
    background-color:#393b44 !important;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20;
    color: #393b44;   
}
main{
    background-color: #eeeeee;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 30;
    color: #393b44;  
}
header, footer {
    background-color: #d6e0f0;
    padding: 20px;
    font-size: 26;   
    font-family: 'Montserrat', sans-serif;
    color: #393b44;
}
nav{
    color: #d6e0f0 !important;
}
h1{
    font-family: 'Montserrat', sans-serif;
}
.wrapper {
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 10px;
}
.layout-sidebar{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    color: #393b44;
}
/* Project Page Styling  */
.grid-container {
    display: grid;
    grid-template-columns: auto auto;  
    padding: 10px;
}
.grid-item { 
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

/* Styling for Images  */
.picsize{
    height: auto;
    width: 500px;
    box-shadow: 2px 2px 4px #000000
}
p{
    font-size: 22px;
    margin-left: 10px;
    font-family: 'Noto Sans JP', sans-serif;
}
.portrait{
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 50%;
    box-shadow: 2px 2px 4px #000000;
}
.logopics{
    height: 200px;
    width: 200px;
    margin: 2px;
    box-shadow: 2px 2px 4px #000000;
}
.logoclear{
    float:right;
    padding-right: 10px;
}
/* Resume Link Styling  */
a {
    text-decoration: none;
    color: #393b44
}
a:hover{
    text-decoration: underline;
}