<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <h3>A variety of services can be provided which include:</h3>
    <ul>
        <li>Web Development</li>
        <li>SQL database development</li>
        <li>C#</li>
        <li>Python</li>
        <li>Javascript</li>

        <div class="grid-container">
            <div class="column">
              <img src="img/javascript.jpg" class="logopics">
              <img src="img/oracle.jpg" class="logopics">
              <img src="img/python.jpg" class="logopics">
              <img src="img/csharp.jpg" class="logopics">
              <img src="img/linux.jpg" class="logopics">
            </div>
        </div>  
    </ul>
</body>
</html>