<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>


    <div class= "wrapper">
        
        <%- include('../partials/header.ejs')%>

         <div class="layout-sidebar">
            <main><%- body %></main>
            <side>
                <img src="img/headshotr.jpg" class="portrait" alt="headshot">
                <h6>Name: Luke Nguyen</h6>
                <h6>City: Mississauga, Ontario</h6>
                <h6>Field of study: Health Informatics Technology</h6>
                <a href="img/LUKE_RESUME.pdf"> <h6>Resume </h6></a> 
            </side>
         </div>


        <%- include('../partials/footer.ejs')%>

    </div>
    
    
</body>
</html>